@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat:wght@400..700&family=Doto:wght@100..900&family=Forum&family=Galada&family=Indie+Flower&family=Jim+Nightshade&family=Merienda:wght@300..900&family=Michroma&family=Mrs+Saint+Delafield&family=New+Rocker&family=Nothing+You+Could+Do&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Tangerine:wght@400;700&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #587c57;
  scroll-behavior: smooth;
}

/* #476546e6 */
a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 20px;
  font-size: 25px;
}

.nav .navigations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  border: 1px solid black;
  padding: 15px;
  border-top: none;
  background-color: rgb(59, 59, 60);
  border-radius: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 65px;
  box-sizing: border-box;
}

.nav .navigations a {
  background-color: rgb(59, 59, 60);
  color: azure;
  position: relative;
}

.nav .navigations a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(228, 230, 228);
  bottom: -5px;
  left: 0;
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
}

.nav .navigations a:hover::after {
  transform: scaleX(1);
}

.nav .title {
  font-size: 45px;
  align-self: center;
  font-family: "Galada", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .contact {
  align-self: center;
}

.homepage {
  width: 85vw;
  height: 85vh;
  margin: auto;

  border-radius: 15px;
  background-color: white;
  box-shadow: 9px 12px 30px black;
  display: flex;

}

.homepage .content {
  width: 60%;
  background-color: white;
  padding-top: 10%;
  padding-inline: 4%;
  border-radius: 15px;


}

.homepage .content p {
  font-size: 35px;
  font-family: "Michroma", sans-serif;
}

.homepage .content .name {
  display: flex;
}

.homepage .content .name .name {
  font-size: 90px;
  color: green;
  -webkit-text-stroke: 1px black;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  /* display: inline-block; */
  animation: typing 2s steps(25) forwards;
  text-shadow: 5px 5px 10px black;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.homepage .content .name .iam {
  font-family: "Jim Nightshade", cursive;
  font-size: 85px;
  color: black;
}

.homepage .content .descrp {
  border: 2px solid black;
  background-color: green;
  color: azure;
  width: fit-content;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.homepage .content .about {
  padding-top: 20px;
}

.homepage .content .button {
  position: relative;
  top: 10%;
  left: 10%;
  box-shadow: 4px 3px 15px black;
  border-radius: 20px;
  background-color: green;
  color: white;
  width: fit-content;
  padding: 15px;

}

.homepage .content .button a {
  background-color: green;
  color: white;
}

.homepage .image {
  width: 40%;
  height: 100%;
  border-radius: 16px;
}

.homepage .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 0px 15px 15px 0px;
}

.homepage .content p,
.homepage .content div,
.homepage .content span {
  background-color: white;
}

.aboutpage {

  margin: auto;
  margin-top: 7.5vh;
  width: 85vw;
  height: auto;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  box-shadow: 9px 12px 30px black;
  display: flex;

}

.aboutpage .content {
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.aboutpage .content .title1 {
  color: #877878;
  font-size: 35px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px 20px 0px 50px;

}

.aboutpage .content .firstline {
  background-color: rgb(0, 0, 0);
  font-size: 70px;
  padding: 0px 20px 0px 50px;
  color: whitesmoke;
}

.aboutpage .content .desig {
  background-color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 0px 20px 10px 90px;
  color: #0A7A0F;
  position: relative;
}

.aboutpage .content .desig::before {
  content: " ";
  background-color: #0A7A0F;
  width: 28px;
  height: 3px;
  position: absolute;
  top: 12px;
  left: 54px;
  z-index: 1;

}

.aboutpage .content .descrp {
  background-color: rgb(0, 0, 0);
  padding: 30px 80px 20px 80px;
  color: #C9C9C9;
  position: relative;
}

.aboutpage .content .descrp::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150px;
  left: 50px;
  background-color: #0A7A0F;
  top: 30px;
}

.aboutpage .content .main {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px 10px 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
}

.aboutpage .content .main .stats {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  background-color: rgb(0, 0, 0);
  justify-items: center;
  align-items: center;
  padding: 35px 60px 20px 60px;
  
}

.aboutpage .content .main .stats .st {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
  background-color: #162A19;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  white-space: nowrap;
}
.aboutpage .content .main .stats .st span{
  background-color: #162A19;
  color: #0A7A0F;
  font-weight: 700;
}
svg{
  background-color: #162A19;
  fill: #0A7A0F;
}
.aboutpage .content .main .exploring_sec {
  background-color: rgb(0, 0, 0);
  padding-inline: 20px;
}

.aboutpage .content .main .exploring_sec h2 {
  background-color: rgb(0, 0, 0);
  color: #194b1d;
  text-decoration: wavy #194b1d 1px ;
}

.aboutpage .content .main .exploring_sec .points {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 20px 50px 50px;
}

.aboutpage .content .main .exploring_sec .points .sec {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: #877878 2px solid;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.aboutpage .content .main .exploring_sec .points .sec .title {
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  padding-left: 20px;
}
.aboutpage .content .main .exploring_sec .points .sec svg{
  width: 60px;
  height: 60px;
  background-color: black;
  fill: #877878;
}
.aboutpage .content .main .exploring_sec .points .sec .desc {
  background-color: rgb(0, 0, 0);
  color: #877878;
  padding-inline: 20px;
}

.projectspage {
  margin: auto;
  margin-top: 7.5vh;
  width: 85vw;
  height: 85vh;

  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  box-shadow: 8px 12px 15px black;
  display: flex;
}